# Import module homework.py as hm2

In [91]:
import homework2 as hm2

# 1. Apply the function in hm2 module to load the data from the link
## preview the data

In [92]:
url="https://data.seattle.gov/api/views/65db-xm6k/rows.csv?accessType=DOWNLOAD" # try other link to test the code, need ""
df=hm2.read_url(url)
df

,Date,Fremont Bridge East Sidewalk,Fremont Bridge West Sidewalk
0,01/01/2019 12:00:00 AM,0.0,9.0
1,01/01/2019 01:00:00 AM,2.0,22.0
2,01/01/2019 02:00:00 AM,1.0,11.0
3,01/01/2019 03:00:00 AM,1.0,2.0
4,01/01/2019 04:00:00 AM,2.0,1.0
...,...,...,...
61291,02/29/2016 12:00:00 AM,2.0,2.0
61292,09/13/2013 03:00:00 AM,1.0,1.0
61293,12/07/2016 12:00:00 AM,3.0,3.0
61294,03/29/2013 04:00:00 AM,1.0,1.0
61295,05/24/2017 01:00:00 AM,4.0,4.0

# 2. Use the function "test_create_dataframe" in the module hm2 to examine if the data hold the following conditions:

### The DataFrame contains only the columns that you specified as the second argument.
### The values in each column have the same python type
### There are at least 10 rows in the DataFrame.
## (This function also prints the details of each condition)

In [93]:
column_name=["Date","Fremont Bridge East Sidewalk","Fremont Bridge West Sidewalk"] # try other column names to test the code
result=hm2.test_create_dataframe(df,column_name)

There are at least 10 rows in the DataFrame - True
The DataFrame contains only the columns that you specified as the second argument - True
The values in each column have the same python type - False

# The result (True/False):

In [94]:
result

False